root { 
    display: block;
}

.root {
     -fx-background-image: url("redfelt.jpg");
}

.label {
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: "Segoe";
    -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.5) , 0.0,0.0,0.0,1.0 );
}

.choice-box .label {
	-fx-font-size: 12.0px;
    -fx-font-weight: none;
     -fx-text-fill: black; 
      -fx-effect: none;
}

.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-effect: none;
}

#welcome-text {
   -fx-font-size: 32.0px;
   -fx-font-family: "Segoe";
	-fx-text-fill: white;
}

#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255.0,255.0,255.0,0.5) , 0.0,0.0,0.0,1.0 );  
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(DarkBlue, DodgerBlue);
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}

.button:hover {
    -fx-background-color: linear-gradient(DarkOrange, OrangeRed);
}

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: blue;
}